<div class="modal fade" id="tweet-modal" tabindex="-1" role="dialog" aria-labelledby="tweet-label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Reply to @user.name</h4>
      </div>
      <div class="modal-body">
        <%= render 'partials/show_tweet' %>
        <%#= render 'partials/show_tweet', tweet_id: nil %>
      </div>
    </div>
  </div>
</div>
